In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [61]:
df = pd.read_excel("C:\\Users\\Palmiere\\Documents\\Projetos\\Bradesco\\dados_Bradesco.xlsx")

In [62]:
df

,Unnamed: 0,1T07,2T07,3T07,4T07,1T08,2T08,3T08,4T08,1T09,...,Unnamed: 127,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rendas de Cartão,560.0,597.0,640.0,706.0,687.0,720.0,781.0,877.0,834.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Conta-Corrente,529.0,535.0,540.0,556.0,521.0,520.0,496.0,492.0,487.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Operações de Crédito,422.0,445.0,495.0,503.0,482.0,387.0,337.0,304.0,366.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Administração de Fundos,334.0,345.0,376.0,384.0,385.0,392.0,407.0,386.0,369.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cobrança,204.0,211.0,217.0,227.0,225.0,242.0,252.0,254.0,236.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Rendas de Serviços de Custódia e Corretagens,49.0,57.0,64.0,71.0,72.0,77.0,79.0,101.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Tarifas de Administração de Consórcios,53.0,57.0,61.0,65.0,72.0,78.0,84.0,84.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Arrecadações,70.0,66.0,63.0,56.0,59.0,59.0,60.0,61.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Outras,237.0,201.0,205.0,215.0,188.0,182.0,202.0,139.0,199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,TOTAL,2458.0,2514.0,2661.0,2783.0,2691.0,2657.0,2698.0,2698.0,2723.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Deletando linhas e colunas vazias

In [63]:
df.isnull()

,Unnamed: 0,1T07,2T07,3T07,4T07,1T08,2T08,3T08,4T08,1T09,...,Unnamed: 127,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
5,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
6,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
7,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
8,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
9,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
10,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
12,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [8]:
from numpy import nan

In [64]:
df.dropna(how="all", inplace=True)

In [65]:
df

,Unnamed: 0,1T07,2T07,3T07,4T07,1T08,2T08,3T08,4T08,1T09,...,Unnamed: 127,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136
2,Rendas de Cartão,560.0,597.0,640.0,706.0,687.0,720.0,781.0,877.0,834.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Conta-Corrente,529.0,535.0,540.0,556.0,521.0,520.0,496.0,492.0,487.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Operações de Crédito,422.0,445.0,495.0,503.0,482.0,387.0,337.0,304.0,366.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Administração de Fundos,334.0,345.0,376.0,384.0,385.0,392.0,407.0,386.0,369.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cobrança,204.0,211.0,217.0,227.0,225.0,242.0,252.0,254.0,236.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Rendas de Serviços de Custódia e Corretagens,49.0,57.0,64.0,71.0,72.0,77.0,79.0,101.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Tarifas de Administração de Consórcios,53.0,57.0,61.0,65.0,72.0,78.0,84.0,84.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Arrecadações,70.0,66.0,63.0,56.0,59.0,59.0,60.0,61.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Outras,237.0,201.0,205.0,215.0,188.0,182.0,202.0,139.0,199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,TOTAL,2458.0,2514.0,2661.0,2783.0,2691.0,2657.0,2698.0,2698.0,2723.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df.dropna(axis=1, inplace=True)

In [67]:
df

,Unnamed: 0,1T07,2T07,3T07,4T07,1T08,2T08,3T08,4T08,1T09,...,2T20,3T20,4T20,1T21,2T21,3T21,4T21,1T22,2T22,3T22
2,Rendas de Cartão,560.0,597.0,640.0,706.0,687.0,720.0,781.0,877.0,834.0,...,2352.0,2530.0,2983.0,2639.0,2744.0,2968.0,3272.0,3143.0,3467.0,3599.0
3,Conta-Corrente,529.0,535.0,540.0,556.0,521.0,520.0,496.0,492.0,487.0,...,1921.0,1955.0,2072.0,1943.0,2000.0,2007.0,2031.0,1949.0,1944.0,1908.0
4,Operações de Crédito,422.0,445.0,495.0,503.0,482.0,387.0,337.0,304.0,366.0,...,657.0,610.0,685.0,634.0,662.0,718.0,763.0,731.0,704.0,641.0
5,Administração de Fundos,334.0,345.0,376.0,384.0,385.0,392.0,407.0,386.0,369.0,...,814.0,872.0,815.0,797.0,828.0,859.0,812.0,781.0,770.0,792.0
6,Cobrança,204.0,211.0,217.0,227.0,225.0,242.0,252.0,254.0,236.0,...,511.0,552.0,554.0,502.0,486.0,496.0,487.0,464.0,469.0,463.0
7,Rendas de Serviços de Custódia e Corretagens,49.0,57.0,64.0,71.0,72.0,77.0,79.0,101.0,89.0,...,303.0,321.0,328.0,358.0,351.0,351.0,344.0,348.0,371.0,360.0
8,Tarifas de Administração de Consórcios,53.0,57.0,61.0,65.0,72.0,78.0,84.0,84.0,80.0,...,439.0,481.0,511.0,513.0,540.0,578.0,572.0,565.0,617.0,477.0
9,Arrecadações,70.0,66.0,63.0,56.0,59.0,59.0,60.0,61.0,63.0,...,110.0,116.0,111.0,113.0,108.0,111.0,108.0,111.0,112.0,111.0
10,Outras,237.0,201.0,205.0,215.0,188.0,182.0,202.0,139.0,199.0,...,519.0,684.0,658.0,568.0,693.0,668.0,475.0,519.0,522.0,505.0
12,TOTAL,2458.0,2514.0,2661.0,2783.0,2691.0,2657.0,2698.0,2698.0,2723.0,...,7626.0,8121.0,8717.0,8067.0,8412.0,8756.0,8864.0,8611.0,8976.0,8856.0

In [68]:
df.isnull()

,Unnamed: 0,1T07,2T07,3T07,4T07,1T08,2T08,3T08,4T08,1T09,...,2T20,3T20,4T20,1T21,2T21,3T21,4T21,1T22,2T22,3T22
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# Operação de matrix transposta para corrigir o dataset

In [69]:
df.columns

Index(['Unnamed: 0', '1T07', '2T07', '3T07', '4T07', '1T08', '2T08', '3T08',
       '4T08', '1T09', '2T09', '3T09', '4T09', '1T10', '2T10', '3T10', '4T10',
       '1T11', '2T11', '3T11', '4T11', '1T12', '2T12', '3T12', '4T12', '1T13',
       '2T13', '3T13', '4T13', '1T14', '2T14', '3T14', '4T14', '1T15', '2T15',
       '3T15', '4T15', '1T16', '2T16', '3T16', '4T16', '1T17', '2T17', '3T17',
       '4T17', '1T18', '2T18', '3T18', '4T18', '1T19', '2T19', '3T19', '4T19',
       '1T20', '2T20', '3T20', '4T20', '1T21', '2T21', '3T21', '4T21', '1T22',
       '2T22', '3T22'],
      dtype='object')

In [70]:
df = df.rename(columns={'Unnamed: 0':'Periodo'})

In [71]:
df.columns

Index(['Periodo', '1T07', '2T07', '3T07', '4T07', '1T08', '2T08', '3T08',
       '4T08', '1T09', '2T09', '3T09', '4T09', '1T10', '2T10', '3T10', '4T10',
       '1T11', '2T11', '3T11', '4T11', '1T12', '2T12', '3T12', '4T12', '1T13',
       '2T13', '3T13', '4T13', '1T14', '2T14', '3T14', '4T14', '1T15', '2T15',
       '3T15', '4T15', '1T16', '2T16', '3T16', '4T16', '1T17', '2T17', '3T17',
       '4T17', '1T18', '2T18', '3T18', '4T18', '1T19', '2T19', '3T19', '4T19',
       '1T20', '2T20', '3T20', '4T20', '1T21', '2T21', '3T21', '4T21', '1T22',
       '2T22', '3T22'],
      dtype='object')

In [72]:
df = (df.set_index('Periodo').T)

In [111]:
df

Periodo,Rendas de Cartão,Conta-Corrente,Operações de Crédito,Administração de Fundos,Cobrança,Rendas de Serviços de Custódia e Corretagens,Tarifas de Administração de Consórcios,Arrecadações,Outras,TOTAL
1T07,560.0,529.0,422.0,334.0,204.0,49.0,53.0,70.0,237.0,2458.0
2T07,597.0,535.0,445.0,345.0,211.0,57.0,57.0,66.0,201.0,2514.0
3T07,640.0,540.0,495.0,376.0,217.0,64.0,61.0,63.0,205.0,2661.0
4T07,706.0,556.0,503.0,384.0,227.0,71.0,65.0,56.0,215.0,2783.0
1T08,687.0,521.0,482.0,385.0,225.0,72.0,72.0,59.0,188.0,2691.0
2T08,720.0,520.0,387.0,392.0,242.0,77.0,78.0,59.0,182.0,2657.0
3T08,781.0,496.0,337.0,407.0,252.0,79.0,84.0,60.0,202.0,2698.0
4T08,877.0,492.0,304.0,386.0,254.0,101.0,84.0,61.0,139.0,2698.0
1T09,834.0,487.0,366.0,369.0,236.0,89.0,80.0,63.0,199.0,2723.0
2T09,851.0,551.0,362.0,382.0,247.0,101.0,85.0,63.0,269.0,2911.0
3T09,785.0,539.0,390.0,421.0,254.0,106.0,91.0,64.0,207.0,2857.0
4T09,953.0,543.0,405.0,430.0,259.0,116.0,95.0,66.0,258.0,3125.0
1T10,972.0,542.0,390.0,429.0,257.0,114.0,97.0,69.0,254.0,3124.0
2T10,993.0,577.0,439.0,441.0,265.0,115.0,105.0,70.0,248.0,3253.0
3T10,1080.0,596.0,434.0,470.0,273.0,112.0,112.0,74.0,275.0,3427.0
4T10,1157.0,646.0,465.0,467.0,286.0,108.0,119.0,74.0,246.0,3568.0
1T11,1155.0,649.0,455.0,471.0,277.0,108.0,121.0,77.0,197.0,3510.0
2T11,1236.0,681.0,496.0,474.0,298.0,102.0,129.0,76.0,259.0,3751.0
3T11,1299.0,708.0,505.0,506.0,318.0,108.0,139.0,78.0,215.0,3876.0
4T11,1406.0,748.0,528.0,498.0,321.0,102.0,137.0,81.0,265.0,4086.0
1T12,1394.0,748.0,501.0,526.0,313.0,117.0,144.0,78.0,297.0,4118.0
2T12,1462.0,805.0,524.0,535.0,322.0,119.0,150.0,80.0,284.0,4281.0
3T12,1534.0,826.0,538.0,562.0,338.0,122.0,159.0,80.0,279.0,4438.0
4T12,1660.0,866.0,517.0,550.0,340.0,124.0,161.0,81.0,376.0,4675.0
1T13,1676.0,833.0,517.0,550.0,344.0,124.0,167.0,79.0,308.0,4598.0
2T13,1745.0,889.0,573.0,581.0,367.0,136.0,177.0,87.0,428.0,4983.0
3T13,1824.0,933.0,553.0,604.0,381.0,127.0,182.0,87.0,286.0,4977.0
4T13,1920.0,953.0,598.0,589.0,380.0,124.0,196.0,87.0,380.0,5227.0
1T14,1936.0,944.0,573.0,562.0,380.0,125.0,199.0,96.0,468.0,5283.0
2T14,1965.0,972.0,625.0,578.0,388.0,121.0,214.0,100.0,365.0,5328.0
3T14,2023.0,1025.0,688.0,653.0,400.0,138.0,228.0,89.0,395.0,5639.0
4T14,2205.0,1080.0,695.0,657.0,398.0,136.0,240.0,87.0,341.0,5839.0
1T15,2208.0,1072.0,635.0,625.0,387.0,129.0,244.0,102.0,342.0,5744.0
2T15,2373.0,1204.0,698.0,637.0,391.0,135.0,255.0,95.0,330.0,6118.0
3T15,2448.0,1294.0,739.0,692.0,397.0,149.0,267.0,90.0,304.0,6380.0
4T15,2583.0,1376.0,729.0,663.0,400.0,144.0,275.0,97.0,330.0,6597.0
1T16,2421.0,1364.0,656.0,674.0,399.0,150.0,278.0,97.0,366.0,6405.0
2T16,2459.0,1410.0,710.0,701.0,412.0,171.0,290.0,90.0,381.0,6624.0
3T16,2696.0,1615.0,767.0,864.0,489.0,201.0,347.0,93.0,378.0,7450.0
4T16,2798.0,1623.0,678.0,851.0,477.0,203.0,363.0,94.0,458.0,7545.0
1T17,2637.0,1601.0,731.0,912.0,478.0,211.0,369.0,108.0,433.0,7480.0
2T17,2650.0,1651.0,774.0,898.0,475.0,213.0,378.0,101.0,406.0,7546.0
3T17,2789.0,1679.0,718.0,977.0,501.0,228.0,390.0,100.0,492.0,7874.0
4T17,2949.0,1727.0,761.0,944.0,512.0,226.0,389.0,101.0,511.0,8120.0
1T18,2763.0,1748.0,724.0,994.0,515.0,234.0,383.0,112.0,413.0,7886.0
2T18,2788.0,1765.0,801.0,1007.0,524.0,256.0,412.0,112.0,506.0,8171.0
3T18,2865.0,1814.0,728.0,1008.0,511.0,233.0,435.0,113.0,416.0,8123.0
4T18,2949.0,1843.0,841.0,974.0,517.0,266.0,455.0,111.0,478.0,8434.0
1T19,2766.0,1851.0,726.0,966.0,521.0,264.0,457.0,120.0,403.0,8074.0
2T19,2781.0,1932.0,755.0,928.0,517.0,268.0,454.0,115.0,530.0,8280.0
3T19,2835.0,1943.0,766.0,973.0,527.0,300.0,497.0,122.0,460.0,8423.0
4T19,2906.0,1980.0,807.0,968.0,535.0,307.0,513.0,118.0,695.0,8829.0
1T20,2700.0,1980.0,721.0,913.0,533.0,346.0,490.0,126.0,474.0,8283.0
2T20,2352.0,1921.0,657.0,814.0,511.0,303.0,439.0,110.0,519.0,7626.0
3T20,2530.0,1955.0,610.0,872.0,552.0,321.0,481.0,116.0,684.0,8121.0
4T20,2983.0,2072.0,685.0,815.0,554.0,328.0,511.0,111.0,658.0,8717.0
1T21,2639.0,1943.0,634.0,797.0,502.0,358.0,513.0,113.0,568.0,8067.0
2T21,2744.0,2000.0,662.0,828.0,486.0,351.0,540.0,108.0,693.0,8412.0
3T21,2968.0,2007.0,718.0,859.0,496.0,351.0,578.0,111.0,668.0,8756.0
4T21,3272.0,2031.0,763.0,812.0,487.0,344.0,572.0,108.0,475.0,8864.0
1T22,3143.0,1949.0,731.0,781.0,464.0,348.0,565.0,111.0,519.0,8611.0
2T22,3467.0,1944.0,704.0,770.0,469.0,371.0,617.0,112.0,522.0,8976.0
3T22,3599.0,1908.0,641.0,792.0,463.0,360.0,477.0,111.0,505.0,8856.0

In [101]:
df.columns

Index(['Rendas de Cartão', 'Conta-Corrente', 'Operações de Crédito',
       'Administração de Fundos', 'Cobrança',
       'Rendas de Serviços de Custódia e Corretagens',
       'Tarifas de Administração de Consórcios', 'Arrecadações', 'Outras',
       'TOTAL'],
      dtype='object', name='Periodo')

In [102]:
df.index

Index(['1T07', '2T07', '3T07', '4T07', '1T08', '2T08', '3T08', '4T08', '1T09',
       '2T09', '3T09', '4T09', '1T10', '2T10', '3T10', '4T10', '1T11', '2T11',
       '3T11', '4T11', '1T12', '2T12', '3T12', '4T12', '1T13', '2T13', '3T13',
       '4T13', '1T14', '2T14', '3T14', '4T14', '1T15', '2T15', '3T15', '4T15',
       '1T16', '2T16', '3T16', '4T16', '1T17', '2T17', '3T17', '4T17', '1T18',
       '2T18', '3T18', '4T18', '1T19', '2T19', '3T19', '4T19', '1T20', '2T20',
       '3T20', '4T20', '1T21', '2T21', '3T21', '4T21', '1T22', '2T22', '3T22'],
      dtype='object')

In [ ]:
# Criando arquivo CSV do dataframe

In [60]:
df.to_csv('C:\\Users\\Palmiere\\Documents\\Projetos\\Bradesco\\bradesco.csv', header= True, index= True, encoding='utf-8')